.breadc {
  background-color: greenyellow;
}

.breadc h4 {
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 20px 0px;
  text-transform: uppercase;
}

.form {
  background-color: rgb(163, 173, 173);
  padding: 20px;
}

.innerpages_form__2qMcL {
  background-color: rgb(203 220 220);
  padding: 20px;
}
